body {
    background-color: hsl(210, 36%, 96%);
}
.brand-image {
    height: 2.5rem;
    border-radius: 50%;
}
.header {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
.header1 {
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    text-decoration: underline;
} 
.image {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    color: black;
    font-family: inherit;
    font-size: 1.3rem;
}
.btn-danger {
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}